*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    background: #E5E3D4;
}
body h2{
    text-align: center;
    font-size: 35px;
}

nav{
    background: black;
    height: 80%;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

a.active,a:hover{
    background: darkgrey;
    transition: .5s;
}

.chechbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 8%;
    margin-right: 4%;
    cursor: pointer;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .chechbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #E5E3D4;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: darkgrey;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.productlist .item1 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item1{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item2 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item2{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item3 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item3{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item4 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item4{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item5 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item5{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item6 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item6{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item7 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item7{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item8 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item8{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item9 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item9{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.productlist .item10 img{
    width: 90%;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.productlist .item10{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 60px;
    background-color: #D6C0B3;
    color: white;
    border: none;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.floating-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}